name: Run
on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * 1,2,3,4,5"
jobs:
  run:
    runs-on: ubuntu-latest
    name: Run

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run
        run: python main.py

      - name: Get JSON Results
        run: echo "DATA_JSON=$(jq -c . < data.json)" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ fromJson(env.DATA_JSON).fetched_zip_path }}
          tag_name: ${{ fromJson(env.DATA_JSON).date }}
          body: ${{ fromJson(env.DATA_JSON).release_body }}
          draft: false
          prerelease: false
